streamlit
matplotlib
PyMuPDF
pdfplumber
requests
pyyaml
pathlib2
pypdf
pandas==2.2.2
numpy==2.0.2
nltk
bertopic[all]
matplotlib
wordcloud
sentence-transformers
torch
transformers
spacy>=3.7.0
scikit-learn==1.6.1
umap-learn==0.5.9.post2
hdbscan==0.8.40
plotly
hf_xet
loguru
langchain-openai
gdown
langchain-community







